@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background: rgba(255, 0, 0, 0.671);
    text-align: center;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.1em;
    box-sizing: border-box;
}

li:hover {
    color: black;
    background: rgba(255, 255, 255, 0.76);
}

a:visited {
    color: white;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    background: black;
    margin: 5px;
    padding: 10px;
}

body {
    background: rgba(0, 0, 0, 0.24);
}

main {
    margin: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.658);
    width: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.527);
}

main p {
    text-align: justify;
    text-indent: 10%;
}
