@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');


:root {
    --white: white;
    --preto: rgba(0, 0, 0, 0.664);



    --font-padrao: 'Spicy Rice', sans-serif;
}


* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

